/angular/node_modules
/angular/dist
/backend/publish
/backend/WebApplication/WebApplication/bin
/backend/WebApplication/WebApplication/obj
/backend/WebApplication/Services/obj
/backend/WebApplication/Services/bin
/backend/WebApplication/DomainModel/obj
/backend/WebApplication/DomainModel/bin
/backend/WebApplication/.idea