<div class="container">
    <form class="form">
        <h1><span class="registration">Registration</span></h1>
        <div>
            <p class="float">
                <label for="login"><i class="icon-user"></i>Login</label>
                <input type="text" name="login" placeholder="Enter Login">
            </p>
            <p class="float">
                <label for="login"><i class="icon-email"></i>Email</label>
                <input type="text" name="email" placeholder="Enter Email">
            </p>
            <p class="float">
                <label for="password"><i class="icon-lock"></i>Password</label>
                <input type="password" name="password" placeholder="Enter Рassword">
            </p>
            <p class="float">
                <label for="repeat-password"><i class="icon-lock-key"></i>Repeat Password</label>
                <input type="password" name="repeat-password" placeholder="Repeat Password">
            </p>
        </div>
        <p class="clearfix">
            <input type="submit" name="submit" value="Registration">
        </p>  
    </form>
</div>